*{
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.container-main{
    max-width: 100vw;
    height: 100vh;
}

/*****************************************************************/
                    /*CSS PARA MENU*/
/*****************************************************************/
.menu-content{
    padding: 15px;
    margin: 0;
    position: relative;
    
}

.menu-movil-icon{
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 0.6em;
    font-size: 14px;
}

.content-img-datos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    width: 50%;
    margin-right: 0.6em;
    overflow: hidden;
    padding: 1px;
}

.img-content{
    float: right;
    margin-right: 0.3em;
    margin-left: 1.2em;
    
}

.text-content{
    margin-left: 0.1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 0.1em;
    text-align: center;

}

.text-active{
    color: burlywood;
    text-shadow: 2px 0 40px black, 0px 1px 20px white;
}

.sub-text{
    float: right;
    margin-right: -0.1em;
    margin-top: -0.3em;
}

.me-pic{
    margin-top: -0.8em;
    max-width: 300px;
    max-height: 50px;
    border: 2px solid rgb(241, 211, 171);
    border-radius: 50px;
    box-shadow: 0px 0 5px black, 0px 0 10px white;
}
.menu-movil-link{
    margin-left: 1em;
    background: none;
    border: none;
}
.contenedor-menu{
    background-color:rgba(0, 0, 0, 0.8);
    position: absolute;
    margin-top: 27.1em;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.9s ease;
    border-radius:0 10px 10px 10px;
    
}

.ocultar{
    margin-left: -100%;
    transition: 2s ease;
}

li,a{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin-left: -10px;
}

li{
    margin-top: 0.8em;
}

a{
   color: white;
   display: block;
}

.menu-link:hover, .menu-link:focus{
    background-color: rgb(245, 215, 177);
    color: black;
    font-weight: bold;
    text-align: center;
    transition:  0.9s ease;
}

.barra{
    color: white;
    width: 80%;
    margin:  0 auto;
    
}

.tittle-social{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.social-content{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
    padding: 3px;
}

.conten-social-icon{
    margin-top: 1em;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.social-icon{

    margin-right: 10px;
    margin-left: 1em;
    overflow: hidden;
    margin-bottom: 0.5em;

    
}

.social-icon a{
    text-decoration: none;
    
    margin: 0 auto;
    
}

.social-icon img{
    width: 35px;
    height: 35px;
    display: block;
    margin:0 auto;
}


/*****************************************************************/
                    /*CSS PARA SECCIONES*/
/*****************************************************************/
.sections{
    min-height: 100vh;
}


/*.section-active{
    background-image: url(../IMG/section1.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    
 
    /*
    imagen creditos
    Photo by <a href="https://unsplash.com/@altumcode?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">AltumCode</a> on <a href="https://unsplash.com/s/photos/developer?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    */
/*}*/

/*.section-active::before{
    content: '';
    top:0;
    bottom:0 ;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
}*/











/*****************************************************************/
                    /*MEDIA QUERY*/
/*****************************************************************/

@media screen and (max-width:635px){
    .text-content{
        margin-right: 0;
    }
    .sub-text{
        float: none;

    }

    .contenedor-menu{
        margin-top: 28.3em;        
    }


}